

#vi-toc {
  .body {
    width: 360px;
  }
}

#vi-recap {
  .content-wrapper {
    margin-top: 155px;
  }
}


/* e.g
#wr_tribal_traditions {
  font-size: 29px;

  .body {
    margin-top: 98px;
  }
}
*/
